<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Trending Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item button *ngFor="let movie of movies" [routerLink]="[movie.id]">
    <ion-avatar slot="start">
      <img [src]="imageBaseUrl + '/w92' + movie.poster_path"/>
    </ion-avatar>
    <ion-label class="ion-text-wrap">
      <h3>{{movie.title}}</h3>
      <p>{{movie.release_date}}</p>
    </ion-label>

    <ion-badge slot="end">
      {{movie.vote_average}}
    </ion-badge>
  </ion-item>
</ion-list>

<ion-infinite-scroll (ionInfinite)="loadMore($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more movie..."></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
